<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hello Friends</title>
    </head>
    <body>
        <h2>HTML FORMS</h2>
        <form action="/submit" method="post">
            <label for="Science">Science:</label><br>
            <input type="text" id="science" name="science" value="0"><br>
            <label for="Math">Math:</label><br>
            <input type="text" id="maths" name="maths" value="0"><br>
            <label for="C">C:</label><br>
            <input type="text" id="c" name="c" value="0"><br>
             <label for="Data Science">Data Science:</label><br>
             <input type="text" id="datascience" name="datascience" value="0"><br>
             <input type="submit" value="submit">
        </form> 
        
        <p>If you click the "Submit" button, the form_data and <strong>Then submit the button</strong></p>
        
    </body>
</html>